
#container{
  width: auto;
  height: 98vh;
}

#map{
  margin-right: 10px;
}

.block {
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-color: rgb(175, 216, 248);
  border-style: double;
}

.block-with-border {
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-color: rgb(175, 216, 248);
  border-style: double;
  margin-right: 10px
}

.block-no-border{
  width: 25px;
  height: 25px;
  margin-right: 10px
}


#options {
  height: 50px;
}

#title {
  height: 40px;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
}


#nav {
  background-color: #34495e;
  height: 60px;
  padding: 0px 30px ;
  line-height: 60px;
}

#logo{
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color: aliceblue;
  padding-top: 10px;
}


.nav-list{
  list-style-type: none;
  margin: 0px;
}

.option-list{
  list-style-type: none;
}

li {
  float: left;
  padding-right: 30px;
}

.select-list {
  background-color:#34495e;
  
  color: aliceblue;
  border-width: 0px;
}

.visualizeButton{
  color: white;
  background-color: green;
}

.empty {
  background-color: white;
  /* animation: fade 0,2s ease-in-out;
  transform-origin: center; */
}

.current {
  background-color: orangered !important;
  /* animation: fade 0,2s ease-in-out;
  transform-origin: center; */
}

.wall {
  background-color: black;
  border-color: black;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}

.visited{
  background-color: rgba(0, 190, 218, 0.75);;
  border-color: white;
  border-style: double;
  animation: visitedAnimation 1.5s ease-in-out;
}
.visited-non-animation{
  background-color: rgba(0, 190, 218, 0.75);;
  border-color: white;
  border-style: double;
}

.short-path-node{
  background-color: yellow;
}
@keyframes visitedAnimation {

  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.list-item {
  display: flex;
  align-items: center;
}



.text {
  white-space: nowrap; /* Prevent the text from wrapping to a new line */
}

.treated{
  background-color: mediumaquamarine;
}

.small-text{
  font-size: 7px;
}

.message {
  text-align: center;
  font-size: larger;
}