
#container{
  width: auto;
  height: 98vh;
}

#map{
  margin-right: 10px;
}

.block{
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-color: rgb(175, 216, 248);
  border-style: double;
}


#options {
  height: 80px;
}

#title {
  height: 40px;
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
}


#nav {
  background-color: #34495e;
  height: 60px;
  padding: 0px 30px ;
  line-height: 60px;
}

#logo{
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color: aliceblue;
  padding-top: 10px;
}


#nav-list{
  list-style-type: none;
  margin: 0px;
}


li {
  float: left;
  padding-right: 30px;
}

.select-list {
  background-color:#34495e;
  
  color: aliceblue;
  border-width: 0px;
}

.visualizeButton{
  color: white;
  background-color: green;
}

.target{
  background-image: url('public/circle.svg');
  background-repeat: no-repeat;
}

.start{
  background-image: url('public/triangletwo-right.svg');
  background-repeat: no-repeat;
}